
body{
    margin:0px;
    padding:0%;
}

.nav-back{
    background-color: white;
}

.loginButton{
    margin-left:10%;
padding-left: 10%;
padding-right: 10%;
    background-color: #fd8a10;

}

.slidebtn{
    background-color: #fd8a10;
    border: 2px solid #fd8a10;
    color:white;


}

.navs-link{
color: black;
}

 .signupbtn{
     background-color: #fd8a10; ;
 }
 .tgl{
     border:0px;
 }
 .logincolor{
     color:#0778e9;
     font-weight: bold;
     background-color: white;
 }
 .signupcolor{
     font-weight: bold;
     color:white;


 }
 



.button{
    color:white;
    background-color: #fd8a10;
    border: 2px solid #fd8a10;
}
 .features{
     text-align: center;
     background-color: #f6f6f6;
     
     
     
 }

 .imgMobo{
     width:100%;
 }
 .icon{
     float:left;
     margin-right: 10px;
     margin-bottom: 12px;
     margin-top:5px;
 }
 .icn{
     float:left;
     margin-right: 10px;
     margin-top:5px;
     margin-bottom: 28px;
     
 }
 .feature2{background-color: #f6f6f6;

 }
 .leaf{
    
     
     background: linear-gradient(to bottom, white 0%, white 22%, #6b989d 22%,#6b989d 100%);
 }


@media only screen and  (min-width:700px){
  .custom {
    width: 22%!important;
    text-align: center;
}

  }  
  .butncst1{
      color:white;
      background-color: #fd8a10;
      border-color:#fd8a10; ;font-weight: bold;
    }
     
  
  .butncst2{
    color:#cccccc;
    background-color: white;
     border-color:#cccccc;;
    
font-weight: bold;}


@media only screen and (max-width:650px){
    .para{
        width:100%;
        margin:auto;
    }
}
.para{
    width:70%;
    margin:auto;

}



.leaftext{
    padding-top:5%;

    color:white;
    
    }
    .leaftxt{
        font-weight: bold;
        width:30%;
        margin:auto;
    }
    .leafpara{
        width:35%;
        margin:auto;
    }
    @media  screen and (max-width:760px){
        .leaftext{
            width:100%;
            padding-top:5%;
            color:white;
            
        }
        .leafpara{
            width:98%;
            margin:auto;
        }
        .leaftxt{
            width:100%;
            margin:auto;
        }
    }
    @media  screen and (max-width:600px){
        .leaftext{
            width:100%;
            padding-top:5%;
            color:white;
            
        }
        .leafpara{
            width:98%;
            margin:auto;
        }
        .leaftxt{
            width:100%;
            margin:auto;
        }
    }
  
 .slideimg{
     position: relative;
 }
 
 @media only screen and (min-width:900px){
 .hrwala{
    font-size:.8rem;text-align: center; font-weight: bold;
    margin-bottom:5%;
 }}
 .last{
     background-color: black;
 }
 .lasticon{
     color:#00d3f4;
     
     
 }
 .logicons{
     display: flex;
     justify-content: center;
     align-items: center;

 }
 .flexdiv{
     display: flex;
     flex-flow: row;
     justify-content: center;
     align-items: center;
     align-content: space-around;
     margin-left: 10px;;
     margin-right: 10px;;
 }
 .item{
     /* order:1; */
     
     min-width: 80px;
     flex-shrink:2;
     /* flex-grow: 1; */
     align-self: stretch;
     
 }